* {
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* margin: 20px; */
  max-width: 1000px;
  margin: 0 auto;
}
.app__right {
  flex: 1;
  padding: 10px;
}
.app__header {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.app__header h1 {
  color: rgb(255, 0, 0);
}
.app__infoBoxes {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
@media only screen and (max-width: 800px) {
  .app {
    flex-direction: column;
  }
}
@media only screen and (max-width: 460px) {
  .app__header {
    flex-direction: column;
  }
}

/* 
background: rgb(255, 138, 4); cases
  background: rgb(255, 0, 0); death
  background: rgb(9, 255, 0); recovered
   */
