.appLeft {
  padding: 10px;
}

.appLeft-container {
  margin-top: 10px;
  height: 325px;
  overflow-y: scroll;
}
.appLeft-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.appLeft__table {
  cursor: all-scroll;
}
.appLeft__table tr {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-radius: 3px;
}
.appLeft__table tr:nth-of-type(odd) {
  /* background: rgb(255, 138, 4); */
  background: rgb(235, 231, 231);
}
.appLeft__table tr > td:last-child {
  font-weight: 600;
}
